@font-face {
  font-family: 'Gill Sans';
  src: url('./resources/fonts/GILL\ SANS\ MEDIUM.OTF');
}

@font-face {
  font-family: 'Gill Sans';
  src: url('./resources/fonts/GILL\ SANS\ ITALIC.OTF');
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Gill Sans', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
